GlucaTrackWPF/Service References/GlucaTrack.Services/GlucaTrack1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="GlucaTrack.Services" elementFormDefault="qualified" targetNamespace="GlucaTrack.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ValidateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateLoginResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DSUser" Namespace="http://schemas.datacontract.org/2004/07/GlucaTrack.Services" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any namespace="http://tempuri.org/DSUser.xsd" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>