GlucaTrack.Website/Service References/GTService/GTService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GTService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.glucatrack.com/Service/GTService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.glucatrack.com/Service/GTService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="https://www.glucatrack.com/Service/GTService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.glucatrack.com/Service/GTService.svc?xsd=xsd2" namespace="http://tempuri.org/Common.xsd" />
      <xsd:import schemaLocation="https://www.glucatrack.com/Service/GTService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="https://www.glucatrack.com/Service/GTService.svc?xsd=xsd5" namespace="http://tempuri.org/Records.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGTService_ValidateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="IGTService_ValidateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGTService_ValidateLogin_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IGTService_PostGlucoseRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:PostGlucoseRecords" />
  </wsdl:message>
  <wsdl:message name="IGTService_PostGlucoseRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostGlucoseRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IGTService_PostGlucoseRecords_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:message name="IGTService_UpdateLastSync_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLastSync" />
  </wsdl:message>
  <wsdl:message name="IGTService_UpdateLastSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLastSyncResponse" />
  </wsdl:message>
  <wsdl:message name="IGTService_UpdateLastSync_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:Exception" />
  </wsdl:message>
  <wsdl:portType name="IGTService">
    <wsdl:operation name="ValidateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IGTService/ValidateLogin" message="tns:IGTService_ValidateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGTService/ValidateLoginResponse" message="tns:IGTService_ValidateLogin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGTService/ValidateLoginExceptionFault" name="ExceptionFault" message="tns:IGTService_ValidateLogin_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostGlucoseRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IGTService/PostGlucoseRecords" message="tns:IGTService_PostGlucoseRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGTService/PostGlucoseRecordsResponse" message="tns:IGTService_PostGlucoseRecords_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGTService/PostGlucoseRecordsExceptionFault" name="ExceptionFault" message="tns:IGTService_PostGlucoseRecords_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastSync">
      <wsdl:input wsaw:Action="http://tempuri.org/IGTService/UpdateLastSync" message="tns:IGTService_UpdateLastSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGTService/UpdateLastSyncResponse" message="tns:IGTService_UpdateLastSync_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGTService/UpdateLastSyncExceptionFault" name="ExceptionFault" message="tns:IGTService_UpdateLastSync_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGTService" type="tns:IGTService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/IGTService/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PostGlucoseRecords">
      <soap:operation soapAction="http://tempuri.org/IGTService/PostGlucoseRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastSync">
      <soap:operation soapAction="http://tempuri.org/IGTService/UpdateLastSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GTService">
    <wsdl:port name="BasicHttpBinding_IGTService" binding="tns:BasicHttpBinding_IGTService">
      <soap:address location="http://www.glucatrack.com/Service/GTService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>